body{
    padding: 10px;
}
.main{
    background-color:white;
   
    width: 50%;
    padding-right: 100px;
}
.first{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.input{
    outline: none;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    border-color: rgb(216, 193, 193);
    border-radius: 5px;
    font-size: 16px;
    padding: 5px;
    width: 60%;
}
.but{
    background-color: rgb(65, 136, 216);
    border-radius: 5px;
    outline: none;
    border-color: transparent;
    width: 100px;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 10px;
    color: white;
    cursor: pointer;
}
.but2{
    background-color: rgb(65, 148, 216);
    border-radius: 5px;
    outline: none;
    border-color: transparent;
    width: 100px;
    font-size: 18px;
    margin-top: 5px;
    margin-right: 10px;
    color: #ffffff;
    cursor: pointer;
}
.error{
    color: red;
}
.sub{
color: green;
}
.button{
    display: flex;
    flex-direction: row;
    justify-content: start;
}